/target
/target-linux
/corpus
/crashes
/output
/coverage
/bundle
/programs/*.so
/fc-workdir-*
/fc-tmp-*
/.bundle-stage.*
/libafl_unix_shmem_server
/out_*.json
*.orig
.build-state.json
*.swp
.DS_Store
.vscode
.idea
__pycache__/
